<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        {% if title %}
        <title>{{ title }} - !</title>
        {% else %}
        <title>Store</title>
        {% endif %}
    </head>
    <body>
        <div><a href="/index">Home</a></div>
        <div><a href="/store">Store</a></div>
        <div><a href="/login">Login</a></div>
        <hr>
        <div>
           {% with messages = get_flashed_messages() %}
               {% if messages %}
               <ul>
                   {% for message in messages %}
                   <li>{{ message }}</li>
                   {% endfor %}
               </ul>
               {% endif %}
           {% endwith %}
       </div>
        {% block content %}{% endblock %}
    </body>
</html>