<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        {% if title %}
        <title>{{ title }} - !</title>
        {% else %}
        <title>Store</title>
        {% endif %}
    </head>
    <body>
        <div><a href="/index">Home</a></div>
        <div><a href="/store">Store</a></div>

        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        <div>Hello, {{current_user.username}}!</div>
        {% endif %}

        <hr>

        <div>
           {% with messages = get_flashed_messages() %}
               {% if messages %}
               <ul>
                   {% for message in messages %}
                   <li>{{ message }}</li>
                   {% endfor %}
               </ul>
               {% endif %}
           {% endwith %}
       </div>
        {% block content %}{% endblock %}
    </body>
</html>